:root {
	--light: #f9d3ca;
	--dark: #530027;
  }

@font-face {
    font-family: 'watermelon';
    src: url('/tbnd_wm-webfont.woff2') format('woff2'),
         url('/tbnd_wm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
	color: black;
    height: 100%;
    position: relative;
    margin:0px;
	background-color: white;
	font-size: 16px;

}

img {
	display: block;
	margin: 0 auto;

	max-width: 100%;
	height: auto;
	/**/
}
#top-logo {
	max-height: 25vh;
  }

header {
	margin: 0px;
	padding: 0px;
}
h1{

	margin: 0;
	padding: 10px;
	text-align: center;
	font-size: 35px;
	color: var(--dark);	

}

.container {
	margin: auto;
	max-width: 100%;
	padding: 10px;
	padding-bottom: 20vh;
	font-size: em;
}


#menu-background{
	background-color: var(--light);
	background-image: url("static/whisk-splash-1080.jpeg");
	height: auto 	;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#section-two{
	background-color: var(--dark);
	height: auto ;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

}
#section-three{
	background-color: var(--dark);
	height: auto ;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
footer{
	background-color: var(--dark);
	height: auto ;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.visit-us {
	width: 100px;
	height: 100px;
  }

h2 {
	margin-top: 20px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 2em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  li {
	margin: 0;
	padding: 0;
  }
  
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 10px;
}


.category {
	display: grid;


	border-radius: 10px;

	background-color: rgba(255, 255, 255, 0.9 );
	box-shadow: 0px 0px 5px rgba(0, 0,0);

  	padding-top: 0px;
  	padding-right: 20px;
  	padding-bottom: 10px;
  	padding-left: 20px;

	width: 300px;

	text-align: center;
	border-radius: 10px;
	
}

.logo-font{
	font-family: 'watermelon';
}
.category-cost{
	color: var(--dark);
	font-size: .75em;
}
.category-popular{
	color: #ff0000;
	font-size: 1.5em;
}

	.menu-item {
		display: grid;

		grid-gap: 20px;
		padding: 20px;


		border-radius: 10px;
		background-color: #ffffff;
		box-shadow: 0px 0px 5px rgba(0, 0,0)
		
	}

.test{
	margin: auto;
	max-width: 800px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: #fff;
}

/* carousel */
.Marquee {
	/*background: linear-gradient(-135deg, #008ed9, #8b00db);*/
	width: 99vw;
	height: auto;
	box-sizing: border-box;
	color: #fff;
	font-weight: 200;
	display: flex;
	align-items: center;
	overflow: hidden;
	display: flex;
	background: var(--dark);
	padding-top: 5px;
  }
  .Marquee-content {
	display: flex;
	animation: marquee 60s linear infinite running;
	padding: 0px;
  }
  .Marquee-content:hover {
	animation-play-state: paused;
  }
  .Marquee-tag {
	width: 600px;
	height: 45vh;
	margin: 0 1px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
  }

  .Marquee-tag img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .Marquee-tag:hover {
	background: var(--light);
	transform: scale(1.1);
	cursor: pointer;
  }
  @-moz-keyframes marquee {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translate(-50%);
	}
  }
  @-webkit-keyframes marquee {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translate(-50%);
	}
  }
  @-o-keyframes marquee {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translate(-50%);
	}
  }
  @keyframes marquee {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translate(-50%);
	}
  }
  
